{% extends "layout.html"%}

{% block content%}
<section id="content">

  <h4>Best Offer Today</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off!</p>
  <button class="btn btn-primary">Shop Now</button>
</section>

{%endblock content%}


{% block contentOptions %}
<section id="features" class="selector-feature">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Free Shipping</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Online Order</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Save Money</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Promotions</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">Happy Sell</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">24/7 Support</h6>
        </div>
      </div>
    </div>

  </div>
</section>
{%endblock contentOptions%}


{% block SectionBanner %}

<div class="banner" id="section-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Crazy Deals</h4>
        <h2>Buy 1 Get 1 Free!</h2>
        <span>On all products</span>
        <!-- <span>The best is on Sale</span> -->
        <button class="white">Shop Now</button>

      </div>
      <div class="col-md-6 box-2">
        <h4>Eye Catching</h4>
        <h2>Upcoming Season</h2>
        <span>The best is on sale</span>
        <!-- <span>The best is on Sale</span> -->
        <button class="white">Grab Now!</button>

      </div>
    </div>
  </div>
</div>



{% endblock SectionBanner %}