<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" type="text/css" href="../static/css/main.css">

  <title>Oasis</title>
</head>

<body>

  <!-- Header -->
  <header class="header" data-header>
    <div class="container">
        <!-- Logo -->
        <a href="{{url_for('home')}}" class="logo">
            <img src="../static/img/logo.png" alt="Oasis logo" width="130" height="11">
        </a>

        <!-- Dropdown Menu for Categories -->
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                <a class="dropdown-item" href="#">Toys</a>
                <a class="dropdown-item" href="#">Sports</a>
                <a class="dropdown-item" href="#">Clothing</a>
                <a class="dropdown-item" href="#">Electronics</a>
                <a class="dropdown-item" href="#">Home & Garden</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('products')}}">All Products</a>
            </div>
        </div>

        <!-- Search Form -->
        <div class="header-search" id="searchForm">
            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="search" placeholder="Search Product..." class="input-field">
                <button class="search-btn" aria-label="Search" type="submit">
                    <i class='fa fa-search'></i>
                </button>
            </form>
        </div>

        <!-- Sign In/Log Out Button -->
        {% if current_user.is_authenticated %}
        <a href="{{url_for('logout')}}" class="header-action-btn">
            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            <a href="{{ url_for('user_settings') }}" class="header-action-label">{{ current_user.username }}</a>
        </a>
        <a href="{{url_for('logout')}}" class="header-action-btn">
            <ion-icon name="log-out-outline" aria-hidden="true"></ion-icon>
            <p class="header-action-label">Log Out</p>
        </a>
        {% else %}
        <button class="header-action-btn" id="signInLink">
            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            <p class="header-action-label">Sign in</p>
        </button>
        {% endif %}

        <!-- Sell Button -->
        {% if current_user.is_authenticated %}
        <a href="{{url_for('sell')}}" class="header-action-btn">
            <ion-icon name="add-circle-outline" aria-hidden="true"></ion-icon>
            <p class="header-action-label">Sell</p>
        </a>
        {% endif %}

        <!-- Cart Button -->
        {% if current_user.is_authenticated %}
        <button class="header-action-btn" id="cartButton">
            <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
            <p class="header-action-label">Cart</p>
        </button>
        {% endif %}

        <!-- Wishlist Button -->
        {% if current_user.is_authenticated %}
        <button class="header-action-btn" id="wishlistButton">
            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
            <p class="header-action-label">Wishlist</p>
        </button>
        {% endif %}
    </div>
</header>


  <main role="main" class="main-container">
    {%block main_content%}{%endblock%}

    {%block content%}{%endblock%}
  </main>
  <!-- #### Footer -->

  <div class="footer">
    <div class="footer_container grid">
      <div class="footer_content">
        <a href="{{url_for('home')}}" class="footer_logo"><img src="../static/img/logo1.png" alt="Oasis logo" width="130" height="45"></a>

        <p class="footer_description">We help people to find their lives better <br> with our products</p>

        <div>
          <a href="#" class="footer_social-link">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="footer_social-link">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="footer_social-link">
            <i class="fab fa-twitter"></i>
          </a>

        </div>

      </div>
      <div class="footer_content">
        <h3 class="footer_title">About</h3>
        <ul class="footer_link">
          <li><a href="{{url_for('about')}}" class="footer_link">About us</a></li>
          <li><a href="{{url_for('sell')}}" class="footer_link">Sell</a></li>
          <li><a href="#" class="footer_link">Privacy Policy</a></li>
          <li><a href="#" class="footer_link">Terms & Conditions</a></li>

        </ul>
      </div>
      <div class="footer_content">
        <!-- Newsletter section -->
        <h3 class="footer_title">Our Newsletter</h3>
        <p>Subscribe to our newsletter to get the latest updates.</p>
        <form action="#" method="POST" class="footer_newsletter-form">
          <input type="email" placeholder="Your Email Address" required>
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <span class="footer_copy">&#169; 2021 Oasis. All right reserved</span>

  </div>


<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="signInModalLabel">Sign In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Sign In Form -->
              <form id="signInForm">
                  <div class="form-group">
                      <label for="signInEmail">Email address</label>
                      <input type="email" class="form-control" id="signInEmail" name="Email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                      <label for="signInPassword">Password</label>
                      <input type="password" class="form-control" id="signInPassword" name="password" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Sign In</button>
              </form>
              <p class="mt-3">New user? <a href="#" id="showSignUp">Sign up</a></p>
          </div>
      </div>
  </div>
</div>

<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="signUpModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Sign Up Form -->
              <form id="signUpForm">
                  <div class="form-group">
                      <label for="signUpEmail">Email address</label>
                      <input type="email" class="form-control" id="signUpEmail" name="Email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                      <label for="signUpUsername">Username</label>
                      <input type="text" class="form-control" id="signUpUsername" name="Username" placeholder="Username">
                  </div>
                  <div class="form-group">
                      <label for="signUpPassword">Password</label>
                      <input type="password" class="form-control" id="signUpPassword" name="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                      <label for="signUpConfirmPassword">Confirm Password</label>
                      <input type="password" class="form-control" id="signUpConfirmPassword" name="confirmPassword" placeholder="Confirm Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
          </div>
      </div>
  </div>
</div>



  <div id="cartSidebar" class="sidebar">
    <!-- Content for the cart sidebar -->
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
      iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
      Wishlist Placeholder Paragraph</p>
  </div>

  <div id="wishlistSidebar" class="sidebar">
    <!-- Content for the wishlist sidebar -->
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium recusandae impedit dolore deleniti, explicabo
    iste praesentium quibusdam. Sint, eaque ullam? Sequi aspernatur, harum repellat quod ut expedita ducimus cum alias.
    Wishlist Placeholder Paragraph</p>
  </div>

  <!-- </article> -->

  <!-- </main> -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../static/js/modal.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>