{%extends "layout.html"%}

{%block content%}

<section id="product-description">

    <div class="multicard">
        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <!-- 2 -->

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        <div class="product-card">
            <!-- <div class="product-image"> -->
                <img src="../static/img/n5.jpg" alt="Classic Utility Jacket">
            <!-- </div> -->
            <div class="product-info">
                <!-- <div class="product-brand-price"> -->
                <span class="product-brand">Adidas</span>
                <!-- </div> -->
                <div class="product-name"><h5>Utility Jacket</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">$110.00</div>


            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>

        
    </div>

</section>



{%endblock%}