{% extends "layout.html" %}

{% block content %}

<section id="product-description">

    <div class="multicard">
        {% for product in products.items %}
        <div class="product-card" onclick="redirectToProductDetails('{{ product.id }}')">
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            <div class="product-info">
                <span class="product-brand">{{ product.category }}</span>
                <!-- Assuming category is included in product data -->
                <div class="product-name">
                    <h5>{{ product.name }}</h5>
                </div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">${{ product.price }}</div>
            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>
        {% endfor %}
    </div>


</section>


<section id="pagination" class="pagination">
    <div class="pagination-container">
        <div class="pagination">
            <button class="btn-prev"><a href="{{ url_for('products', page=products.prev_num) }}">prev</a></button>
            <ul class="pagination">
                {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current =1 , right_current=2) %}
                    {% if page_num %}
                        {% if products.page == page_num %}
                            <li class="page-item active">
                                <a class="page-link" href="{{ url_for('products', page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('products', page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item1">
                            <a href="{{ url_for('products', page=products.next_num) }}">...</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button class="btn-next"><a href="{{ url_for('products', page=products.next_num) }} ">Next</a></button>
            

        </div>
    </div>
</section>


<script>
    function redirectToProductDetails(productId) {
        window.location.href = "/product_details/" + productId;
    }
</script>

{% endblock %}