{% extends "layout.html" %}

{% block content %}

<section id="product-description">

    <div class="multicard">
        {{products}}
        {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            <div class="product-info">
                <span class="product-brand">{{ product.category }}</span>  <!-- Assuming category is included in product data -->
                <div class="product-name"><h5>{{ product.name }}</h5></div>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">${{ product.price }}</div>
            </div>
            <button class="heart-button">❤</button>
            <button class="add-button"><i class="fal fa-shopping-cart"></i></button>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}
